body,
html {
    width: 98%;
    height: 60%;
	background: url('../img/background.jpg') no-repeat fixed center center;
	background-size: cover;
	}

body,
h1,
h2,
h3,
h4,
h5,
h6,
div,
label {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
	color: black;
	text-align: center;
	padding-top:50px;
}

